RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP:X-API-TOKEN} (.+)
    RewriteRule .* - [E=HTTP_X_API_TOKEN:%1]
</IfModule>
